.item{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    border:2px ridge brown;
    border-radius: 4px;
    width:50px;
    text-align: center;
    margin: 0 auto;
    display:inline-block;
}
.itsLimited{
    width:50px;
    height:30px;
    margin-left:70px;
    display:inline-block;
    border: 1px solid black;
    border-radius: 60px;
}
#collect{
    margin-bottom:5px; 
}
.box{
    white-space: nowrap;
    overflow-x: auto;
}
