.link{
    margin-left:15px;
    padding-top:0px;
    font-weight: 400;
    float: left;
}
.jumbotron{
    background-color: brown;
    color:black;
    padding-bottom: 100px
}
.lead{
    font-weight: bold;
    margin-right:200px;
    padding:0px;
    display: inline-block;
    list-style-type: none;
}
.display-4{
    font-weight: bolder;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size:70px;
}
.form-group{
    width:50%;
    margin-left:260px;
}
.form-control{
    margin-bottom:0px;
    padding: 0px;
    display: inline-block;
}