.landing{
    background-color: black;
    color:white;
    text-align: center; 
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
#landingTitle{
    font-weight: bold;
    font-size:80px;
    margin-bottom:15px;
}
#landingText{
    font-size:30px;
}
#signUpLandingPage{
    margin: 0 auto;
    text-align: center;
    color:black;
    margin: 0px -50px; 
    position:relative;
    top:50%; 
    left:50%;
    background-color: blue;
}
